# PhpStorm IDE Project Files
/.idea

# ECShop Cache file
/temp/caches/*
!/temp/caches/index.htm

/temp/query_caches/*
!/temp/query_caches/index.htm

/temp/compiled/admin/*
!/temp/compiled/admin/index.htm

/temp/static_caches/*
!/temp/static_caches/index.htm

# ECTouch Cache File
/ectouch/data/cache/compiled/*
!/ectouch/data/cache/compiled/index.htm

/ectouch/data/cache/static_caches/*
!/ectouch/data/cache/static_caches/index.htm
